{%load static%}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Contato</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-store" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="icon" href="{%static 'dist/img/icone.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700%7CZilla+Slab:300,400,500,700,700i%7CGloria+Hallelujah">
    <link rel="stylesheet" href="{%static 'site/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%static 'site/css/fonts.css' %}">
    <link rel="stylesheet" href="{%static 'site/css/estilo.css' %}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
    
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-logo"><a class="brand" href="index.html"><img class="brand-logo-dark" src="{%static 'dist/img/logo.png' %}" alt="" width="245" height="50"/><img class="brand-logo-light" src="images/logo-inverse-245x50.png" alt="" width="245" height="50"/></a>
      </div>
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="">
      <!-- Page Header-->
      <header class="section page-header page-header-1">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="index.html"><img class="brand-logo-dark" src="{%static 'dist/img/logo.png' %}" alt="" width="245" height="50"/><img class="brand-logo-light" src="images/logo-inverse-245x50.png" alt="" width="245" height="50"/></a>
                  </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav		-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'site:home' %}">Home</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'site:aboutUs' %}">Sobre Nós</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'site:services' %}">Serviços</a>
                    </li>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="{%url 'site:contact' %}">Contato</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="breadcrumbs-custom breadcrumbs-background">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-inner context-dark">
              <div class="breadcrumbs-custom-item">
                <h1 class="breadcrumbs-custom-title">Contate-nos</h1>
              </div>
              <ul class="breadcrumbs-custom-path">
                <li><a href="{%url 'site:home' %}">Home</a></li>
                <li class="active">Contacts</li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- Mailform-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 justify-content-xl-between flex-lg-row-reverse">
            <div class="col-lg-4 col-xl-3">
              <div class="row row-30 row-xl-60">
                <div class="col-sm-4 col-lg-12">
                  <h4>Endereço</h4>
                  <p class="offset-top-1"><a class="link-default" href="https://www.google.com/maps/search/Rua+Angelo+Libanio+Ribeiro,+373,+Centro,+Bel%C3%A9m+do+Piau%C3%AD-PI/@-7.3764367,-40.9691324,20z?hl=pt-BR">Rua Ângelo Líbano Ribeiro 373 <br class="d-none d-md-block">Centro 
                    Belem do Piauí 
                    CEP 64678-00</a></p>
                </div>
                <div class="col-sm-4 col-lg-12">
                  <h4>Telefone</h4>
                  <ul class="list-0 offset-top-1">
                    <li><a class="link-default" href="https://api.whatsapp.com/send?phone=55899994429719&text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Optar%20Loca%C3%A7%C3%B5es%2C%20gostaria%20de%20saber%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20servi%C3%A7os...."> (89) 99944-29719</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-lg-12">
                  <h4>Email</h4>
                  <ul class="list-0 offset-top-1">
                    <li><a class="link-default" href="">optar@gmail.com</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <h2>Fale Conosco</h2>
              <!-- RD Mailform-->
              <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row row-30">
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-first-name" type="text" name="first-name" data-constraints="@Required">
                      <label class="form-label" for="contact-first-name">Nome</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-last-name" type="text" name="last-name" data-constraints="@Required">
                      <label class="form-label" for="contact-last-name">Sobrenome</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-email">E-mail</label>
                      <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-phone">Mensagem</label>
                      <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Required @PhoneNumber">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-message">Message</label>
                      <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="button button-lg button-primary button-raven" type="submit">Enviar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Google Map-->
      
      <!-- Page Footer--><a class="banner" href="https://www.templatemonster.com/website-templates/monstroid2.html" target="_blank"><img src="images/monstroid-big-2.jpg" alt="" height="0"></a>
      {% include 'site/footer.html' %}
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{%static 'site/js/core.min.js' %}"></script>
    <script src="{%static 'site/js/script.js' %}"></script>
    <script>
      $(window).on("load", function () {
        $('.preloader').fadeOut('slow');
      });
    </script>
  </body>
</html>