<footer class="section footer-classic bg-gray-950">
    <div class="footer-classic-main">
      <div class="container"> 
        <div class="row row-30">
          <div class="col-lg-3">
            <div class="row row-30 row-xl-40">
              <div class="col-12">
                <h3><a href="{%url 'site:home' %}">Home </a></h3>
              </div>
              <div class="col-12">
                <h3><a href="{%url 'site:aboutUs' %}">Sobre Nós </a></h3>
              </div>
              <div class="col-12">
                <h3><a href="{%url 'site:services' %}">Máquinas </a></h3>
              </div>
              <div class="col-12">
                <h3><a href="{%url 'site:contact' %}">Contato </a></h3>
                <br><br>
              </div>
             
              <div class="col-12">
                <div class="row">
                <a href="#" style="font-size: 60px;" class="mr-5 fa-brands fa-instagram">  </a>  
                <a href="https://api.whatsapp.com/send?phone=5589994452001&text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Optar%20Loca%C3%A7%C3%B5es%2C%20gostaria%20de%20saber%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20servi%C3%A7os...."style="font-size: 60px;" class="fa-brands fa-whatsapp"></a>
                </div>                
              </div>
              
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-5">
            
          </div>
          <div class="col-sm-6 col-lg-5 col-xl-4">
            <div class="row row-50 row-xl-70">
              <div class="col-12">
                <h3>Sobre nós</h3>
                <p>Desde 2009, nossa empresa oferece as melhores  máquinas para a alta produtividade de nossas empresas clientes. Junto conosco, você terá a oportunidade de alavancar o desempenho da sua organização. Vem pra OPTAR !
                </p>
              </div>
              <div class="col-12"
                           
                 <h3>Newsletter</h3>
                <p>Keep up with our weekly news and updates on education. Enter your e-mail and subscribe to our newsletter.</p>
                <form class="rd-form rd-mailform form-inline subscribe-form" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap">
                    <input class="form-input" id="subscribe-form-2-email" type="email" name="email" data-constraints="@Email @Required">
                    <label class="form-label" for="subscribe-form-2-email">E-mail</label>
                  </div>
                  <div class="form-button">
                    <button class="button button-primary-gradient button-icon-only" type="submit" aria-label="subscribe"><span class="icon icon-md mdi mdi-email-outline"></span></button>
                  </div>
                </form>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-classic-aside">
      <div class="container">
        <!-- Rights-->
        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span><br class="d-sm-none"/><a href="#">Terms of Use</a><span> and</span><span>&nbsp;</span><a href="#">Privacy Policy</a>. Design&nbsp;by&nbsp;<a>OPTARLOCAÇÕES</a></p>
      </div>
    </div>
  </footer>