{%load static%}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <link rel="icon" href="{%static 'dist/img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700%7CZilla+Slab:300,400,500,700,700i%7CGloria+Hallelujah">
    <link rel="stylesheet" href="{%static 'site/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%static 'site/css/fonts.css' %}">
    <link rel="stylesheet" href="{%static 'site/css/estilo.css' %}">
    <link rel="stylesheet" href="{%static 'site/css/estilo_cards.css' %}">

    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="preloader ">
      <div class="preloader-logo"><a class="brand" href="{%url 'site:home' %}"><img class="brand-logo-dark" src="{%static 'dist/img/logoBranco.jpg'%}" alt="" width="400" height="50"/> <img class="brand-logo-light" src="{%static 'dist/img/logoBranco.jpg'%}" alt="" width="245" height="50"/></a>
      </div>
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div style="background-color:#09207F; height:100px;" class=''>
      <div  class="text-right">
        <img src="{%static 'site/images/bannerPropaganda.png' %}" >
      </div>
    </div>
    <div class="">
      <!-- Page Header-->

      <header  class="page-header">
        <!-- RD Navbar-->
      
        <div class="rd-navbar-wrap">
          <nav  class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div  class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="{%url 'site:home'%} "><img class="brand-logo-dark" src="{%static 'dist/img/logoBranco.jpg' %}" alt="" width=400 height="100"/><img class="brand-logo-light" src="{%static 'dist/img/logoBranco.jpg' %}" alt="" width="245" height="50"/></a>
                  </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav		-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="{%url 'site:home' %}">Home</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'site:aboutUs' %}">Sobre Nós</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'site:services' %}">Serviços</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'site:contact' %}">Contato</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      
      <section >
        <!-- Swiper-->
        <div style="background-color:#228733;"><br></div>
        <div style="background-color:#C7B124;"><br></div>
        <div class="swiper-container swiper-slider swiper-slider-1" data-loop="false" data-autoplay="4000" data-simulate-touch="false">
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="{%static 'site/images/capaOptar.png' %}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">Na OPTAR LOCAÇÕES</h6>
                        <h2 data-caption-animate="slideInLeft" data-caption-delay="300">Trabalhamos  com veículos e maquinário  <span class="text-italic font-weight-bold">de ótima qualidade</span>
                        </h2>
                        <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-primary-gradient" href="{%url 'site:services' %}"><span>mais detalhes</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="{%static 'site/images/newHolandCapa.png' %}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">Aqui você encontra</h6>
                        <h2 data-caption-animate="slideInLeft" data-caption-delay="300"> Uma variedade de máquinas para <span class="text-italic font-weight-bold">Sua Empresa</span>
                        </h2>
                        <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-primary-gradient" href="{%url 'site:services' %}"><span>Mais detalhes</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="{%static 'site/images/cacambaCapa.png'%}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">Faça parte da familia OPTAR</h6>
                        <h2 style="" data-caption-animate="slideInLeft" data-caption-delay="300">e torne a sua <span class="text-italic font-weight-bold">empresa produtiva</span>
                        </h2>
                        <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-primary-gradient" href="{%url 'site:services' %}"><span>Mais detalhes</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <!-- A Few Words About Me-->

      <section class="section section-lg bg-default">
        <div class="col-11 container">
          <div class="row row-50 justify-content-center justify-content-xl-between flex-lg-row-reverse">
            <div class="col-md-11 col-lg-6 col-xl-5">
              <div class="box-1">
                <h1>QUEM SOMOS  ? </h1>
                <br><br>

                <h3>Somos a OPTAR LOCAÇÕES, uma empresa que se responsabiliza em oferecer maior produtividade à sua organização</h3>
                <h3>A OPTAR Locações  é uma empresa especializada na prestação de serviços, que visa atender as necessidades do mercado nos segmentos de Construção, Mineração, Ferrovias, Siderurgias, Indústria, Agronegócio e Portos no Brasil.
                  Com sede na cidade de Belém- PI, , a nossa empresa oferece suporte     estratégico que permite a atuação em todo o território regional, levando para nossos clientes excelência, uma vasta experiência e praticidade através dos nosso serviços 
                  ​Através de uma cultura voltada para a excelência nos negócios, e a construção de uma relação saudável e duradoura com nossos stake holders, buscamos conquistar cada vez mais o mercado, agregando valor aos negócios dos nossos parceiros.
                </h3>                <br><br><br>
                <a class="button button-lg button-primary-gradient" href="{%url 'site:contact' %} "><span>Entre em contato</span></a>
              </div>
            </div>
            <div class="col-md-11 col-xl-6 col-lg-6">
              <!-- Thumbnail Media-->
              <div ><img src="{%static 'site/images/aboutBody.png' %}" ></div>
            </div>
          </div>
        </div>
        
      </section>
      <div style="background-color:#228733;"><br></div>
      <div style="background-color:#C7B124;"><br></div>
      


      <section style="background-color:#09207F; background:url({%static 'site/images/fundoBasculante.png' %}); background-size: cover;
      background-position: center center;
      background-attachment: fixed;" class="section section-lg bg-default text-center">
        <div class="col-10 container">
          <h1 style="color:white;" class="wow fadeIn">ALGUNS DOS NOSSOS VEÍCULOS</h1>
          <div class="row row-30 justify-content-center">
            <div class="col-sm-10 col-md-6 wow fadeIn">
              <!-- Post Light--><div class=" post-light context-dark"  style="background-image: url({%static 'site/images/basculante.png'%});">
                <div class="post-light-inner">
                  <div class="badge">Veículo</div>
                  <div class="post-light-main">
                    <h4 class="post-light-title">Caminhão Axor 3131 6X Basculante</h4>
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-6 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Light--><div class="post-light context-dark" href="#" style="background-image: url({%static 'site/images/Newholland.png' %});">
                <div class="post-light-inner">
                  <div class="badge">Veículo</div>
                  <div class="post-light-main">
                    <h4 class="post-light-title">NewHolland</h4>
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-6 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Light--><div class="post-light context-dark" href="#" style="background-image: url({%static 'site/images/vehicle4.png' %});">
                <div class="post-light-inner">
                  <div class="badge">Veículo</div>
                  <div class="post-light-main">
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-6 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Light--><div class="post-light context-dark" href="#" style="background-image: url({%static 'site/images/vehicle3.png' %});">
                <div class="post-light-inner">
                  <div class="badge">Veículo</div>
                  <div class="post-light-main">
                  </div>
                </div></div>
            </div>
    
        </div>
      </section>
      <div style="background-color:#228733;"><br></div>
      <div style="background-color:#C7B124;"><br></div>

      <section class="wrapper">
        <div class="container">
          <h1 class="mb-5 mt-5 text-center wow fadeIn">ÁREAS DE ATUAÇÃO</h1>
          <div class="content">
            <div class="container">
              <div class='row mb-4 '>
                <div class="col-xs-12 col-sm-12 col-md-4 ">
                  <div class="card-scale card" style="width: 22rem;">
                    <img class="card-img-top" src="{%static 'site/images/location.jpeg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Locação </h5>
                      <p class="card-text">Locação de equipamentos de médio e grande porte a nível nacional, 
                        para os diversos setores… Mineração, Terraplanagem, Construção Civil, Energia, Florestal, Portuário, 
                        Infraestrutura Governamental entre outras.<br><br><br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 ">
                  <div class="card-scale card" style="width: 22rem;">
                    <img class="card-img-top" src="{%static 'site/images/vehicle3.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Transporte </h5>
                      <p class="card-text">Temos a solução completa para os diversos setores de transporte.
                        Alinhamos a produtividade do seu negócio à tecnologia, segurança e meio ambiente. <br><br><br><br><br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 ">
                  <div class="card-scale card" style="width: 22rem;">
                    <img class="card-img-top" src="{%static 'site/images/obra-publica.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Serviço</h5>
                      <p class="card-text">
                        Com foco nos centros urbanos e áreas em desenvolvimento, a
                        tuamos na construção e reforma de espaços públicos como: Praças, Escolas, Unidades de Saúde,
                        entre outras, além de Obras de Pavimentação, Canalização, Drenagens, Contenções e Obras de
                        Artes Especiais.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div style="background-color:#228733;"><br></div>
      <div style="background-color:#C7B124;"><br></div>
      
      <section style="background-color:#09207F; background:url({%static 'site/images/fundoBasculante.png' %}); background-size: cover;
      background-position: center center;
      background-attachment: fixed;" class="section section-lg bg-default text-center">
      
        <div class="col-10 container">
          <h1 style='color:white;' class="text-center wow fadeIn">ALGUMAS DAS OBRAS FINALIZADAS</h1>
          <div class="row row-30 justify-content-center">
            <div class="col-sm-10 col-md-4 wow fadeIn">
              <!-- Post Light--><div class=" post-light context-dark"  style="background-image: url({%static 'site/images/contrutora1.jpg'%});">
                <div class="post-light-inner">
                  <div class="post-light-main">
                    <h4 class="post-light-title">Andrade Gutierrez</h4>
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-4 wow fadeIn">
              <!-- Post Light--><div class=" post-light context-dark"  style="background-image: url({%static 'site/images/contrutora1.jpg'%});">
                <div class="post-light-inner">
                  <div class="post-light-main">
                    <h4 class="post-light-title">Locação</h4>
                  </div>
                </div>
            </div>
            </div> <div class="col-sm-10 col-md-4 wow fadeIn">
              <!-- Post Light--><div class="post-light context-dark"  style="background-image: url({%static 'site/images/contrutora1.jpg'%});">
                <div class="post-light-inner">
                  <div class="post-light-main">
                    <h4 class="post-light-title">Andrade Gutierrez</h4>
                  </div>
                </div></div>
            </div>
          </div>
        </div>
        
      </section>
      <div style="background-color:#228733;"><br></div>
      <div style="background-color:#C7B124;"><br></div>

      <!-- Featured Projects-->
      <!-- Latest Blog Posts-->
      <section class="section section-lg bg-default text-center">
        <div class="col-10 container">
          <h1 class="wow fadeIn">NOSSOS CLIENTES</h1>
          <div class="row row-30 justify-content-center">
            <div class="col-sm-10 col-md-2 wow fadeIn">
              <!-- Post Light--><div class=" post-light context-dark"  style="background-image: url({%static 'site/images/contrutora1.jpg'%});">
                <div class="post-light-inner">
                  <div class="post-light-main">
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-2 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Light--><div class="post-light context-dark" href="#" style="background-image: url({%static 'site/images/contrutora2.jpg' %});">
                <div class="post-light-inner">
                  <div class="post-light-main">
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-2 wow fadeIn">
              <!-- Post Light--><div class="post-light context-dark" href="#" style="background-image: url({%static 'site/images/contrutora3.png' %});">
                <div class="post-light-inner">
                  <div class="post-light-main">
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-2 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Light--><div class="post-light context-dark" href="#" style="background-image: url({%static 'site/images/contrutora4.jpg' %});">
                <div class="post-light-inner">
                  <div class="post-light-main">
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-2 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Light--><div class="post-light context-dark" href="#" style="background-image: url({%static 'site/images/contrutora5.png' %});">
                <div class="post-light-inner">
                  <div class="post-light-main">
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-2 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Light--><div class="post-light context-dark" href="#" style="background-image: url({%static 'site/images/contrutora6.png' %});">
                <div class="post-light-inner">
                 <!-- <div class="badge">Cliente</div>
                  <div class="post-light-main">
                    <h4 class="post-light-title">Della Volpe</h4>
                  </div>-->
                </div></div>
            </div>
        </div>
      </section>
      <div style="background-color:#228733;"><br></div>
      <div style="background-color:#C7B124;"><br></div>
      <!-- Gallery-->
      <section class="section oh text-center">
        <div class="owl-carousel owl-carousel-dots-space wow fadeIn" data-items="2" data-sm-items="3" data-md-items="4" data-lg-items="5" data-xl-items="6" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group">
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/Newholland.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/Newholland.png'%}" alt="" width="320" height="320"/>
            </div></a>
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/basculante.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/basculante.png'%}" alt="" width="320" height="320"/>
            </div></a>
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/retroGrid.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/retroGrid.png'%}" alt="" width="320" height="320"/>
            </div></a>
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/Newholland.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/Newholland.png'%}" alt="" width="320" height="320"/>
            </div></a>
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/basculante.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/basculante.png'%}" alt="" width="320" height="320"/>
            </div></a>
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/retroGrid.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/retroGrid.png'%}" alt="" width="320" height="320"/>
            </div></a>
        </div>
      </section>
      <!-- Page Footer-->
      {% include 'site/footer.html' %}
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{%static 'site/js/core.min.js' %}"></script>
    <script src="{%static 'site/js/script.js' %}"></script>
    <script>
      $(window).on("load", function () {
        $('.preloader').fadeOut('slow');
      });
    </script>
    <!-- coded by Drel-->
  </body>
</html>