{%load static%}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <link rel="icon" href="{%static 'dist/img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700%7CZilla+Slab:300,400,500,700,700i%7CGloria+Hallelujah">
    <link rel="stylesheet" href="{%static 'site/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%static 'site/css/fonts.css' %}">
    <link rel="stylesheet" href="{%static 'site/css/estilo.css' %}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="preloader ">
      <div class="preloader-logo"><a class="brand" href="{%url 'site:home' %}"><img class="brand-logo-dark" src="{%static 'dist/img/logoBranco.jpg'%}" alt="" width="400" height="50"/> <img class="brand-logo-light" src="{%static 'dist/img/logoBranco.jpg'%}" alt="" width="245" height="50"/></a>
      </div>
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="">
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav  class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div  class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="{%url 'site:home'%} "><img class="brand-logo-dark" src="{%static 'dist/img/logoBranco.jpg' %}" alt="" width=400 height="100"/><img class="brand-logo-light" src="{%static 'dist/img/logoBranco.jpg' %}" alt="" width="245" height="50"/></a>
                  </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav		-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="{%url 'site:home' %}">Home</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'site:aboutUs' %}">Sobre Nós</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'site:vehicles' %}">Máquinas</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{%url 'site:contact' %}">Contato</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section>
        <!-- Swiper-->
        <div class="swiper-container swiper-slider swiper-slider-1" data-loop="false" data-autoplay="5000" data-simulate-touch="false">
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="{%static 'site/images/trator.png' %}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">Na OPTAR LOCAÇÕES</h6>
                        <h2 data-caption-animate="slideInLeft" data-caption-delay="300">Trabalhamos  com veículos e maquinário  <span class="text-italic font-weight-bold">de ótima qualidade</span>
                        </h2>
                        <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-primary-gradient" href="{%url 'site:vehicles' %}"><span>confira nossas máquinas</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="{%static 'site/images/cacamba.png' %}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">Aqui você encontra</h6>
                        <h2 data-caption-animate="slideInLeft" data-caption-delay="300"> Uma variedade de máquinas para <span class="text-italic font-weight-bold">Sua Empresa</span>
                        </h2>
                        <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-primary-gradient" href="{%url 'site:vehicles' %}"><span>confira nossas máquinas</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="{%static 'site/images/retroescavadeira.png'%}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">Faça parte da familia OPTAR</h6>
                        <h2 style="" data-caption-animate="slideInLeft" data-caption-delay="300">e torne a sua <span class="text-italic font-weight-bold">empresa produtiva</span>
                        </h2>
                        <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-primary-gradient" href="{%url 'site:vehicles' %}"><span>confira nossas máquinas</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <!-- A Few Words About Me-->
      <section class="section section-lg bg-gray-100 ">
        <div class="container col-xl-10">
          <div class="row row-50 justify-content-center justify-content-lg-between">
            <div class="col-12">
              <h1 class="h-custom-1 f1">BREVES PALAVRAS SOBRE NÓS</h1>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3 col-lg-4 ow fadeIn">
              <h5>OPTAR LOCAÇÕES: nosso objetivo é oferecer o maior suporte e maior qualidade na locação  de veículos e maquinário para construção. Se a sua empresa necessita de máquinas para mão de obra com excelente desempenho, corre para a OPTAR Locações. Estamos trabalhando para oferecer o melhor para você.</h5><a class="button button-primary-gradient" href="{%url 'site:aboutUs' %}"><span>Saiba Mais</span></a>
            </div>
            <div class="col-md-6 col-xl-3 col-lg-4wow fadeIn" data-wow-delay=".2s">
              <!-- Linear progress bar-->
              <article class="progress-linear">
                <div class="progress-header">
                  <p>Qualidade</p><span class="progress-value">100</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </article>
              <!-- Linear progress bar-->
              <article class="progress-linear">
                <div class="progress-header">
                  <p>Preço Acessivel</p><span class="progress-value">100</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </article>
              <!-- Linear progress bar-->
              <article class="progress-linear">
                <div class="progress-header">
                  <p>Variedade de Máquinas</p><span class="progress-value">100</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </article>
              <!-- Linear progress bar-->
              <article class="progress-linear">
                <div class="progress-header">
                  <p>Desempenho</p><span class="progress-value">100</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </article>
              <!-- Linear progress bar-->
              <article class="progress-linear">
                <div class="progress-header">
                  <p>Eficiência</p><span class="progress-value">100</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </article>
            </div>
            <div class=" col-xl-6 col-lg-4  wow fadeIn" data-wow-delay=".4s"><img class="" src="{%static 'site/images/cacambaTransparent.png' %}" width="1000" alt=""></div>
          </div>
        </div>
      </section>
      <!-- Featured Projects-->
      <section style="background-color:#09207F;"  class="section section-lg bg-default text-center">
        <div style="color: white;" class="container">
          <h2 style="color: white;" class="wow fadeIn">Nossos Veículos</h2>
          <div class="row row-30 row-md-50 row-xl-70">
            <div class="col-sm-6 col-lg-4 wow fadeIn">
              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><div href="#"><img class="post-minimal-image" src="{%static 'site/images/basculante.png' %}" alt="" width="370" height="260"/></div></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">Optar Locações</li>
                  </ul>
                </div>
                <h4 style="color: white;" class="post-minimal-title"><a href="">Caminhão axor 3131 6X4 Basculante </a></h4>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><div href=""><img class="post-minimal-image" src="{%static 'site/images/cacambaGrid.png' %}" alt="" width="370" height="260"/></div></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">OPTAR LOCAÇÕES </li>
                  </ul>
                </div>
                <h4 style="color: white;" class="post-minimal-title"><a href="">Caçamba</a></h4>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".4s">
              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><div href=""><img class="post-minimal-image" src="{%static 'site/images/Newholland.png' %}" alt="" width="370" height="260"/></div></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">OPTAR LOCAÇÕES </li>
                  </ul>
                </div>
                <h4 style="color: white;" class="post-minimal-title"><a href="">New Holland B95</a></h4>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn">
              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><div href="#"><img class="post-minimal-image" src="{%static 'site/images/cacambaGrid.png' %}" alt="" width=370 height="260"/></div></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">OPTAR LOCAÇÕES </li>
                  </ul>
                </div>
                <h4 style="color: white;" class="post-minimal-title"><a href="#">Caçamba </a></h4>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><div href="#"><img class="post-minimal-image" src="{%static 'site/images/tratorGrid .png' %}" alt="" width="370" height="260"/></div></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">OPTAR LOCAÇÕES </li>
                  </ul>
                </div>
                <h4 style="color: white;" class="post-minimal-title"><a href="#">Trator</a></h4>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeIn" data-wow-delay=".4s">
              <!-- Post Minimal-->
              <div class="post-minimal">
                <figure class="post-minimal-media"><div href="#"><img class="post-minimal-image" src="{%static 'site/images/retroGrid.png' %}" alt="" width="370" height="260"/></div></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">OPTAR LOCAÇÕES</li>
                  </ul>
                </div>
                <h4 style="color: white;" class="post-minimal-title"><a href="#">Retroescavadeira</a></h4>
              </div>
            </div>
          </div><a class="button button-lg button-primary-gradient wow fadeIn" data-wow-delay=".2s" href="{%url 'site:vehicles' %}"><span>Ver Todos os Veículos</span></a>
        </div>
      </section>
      <!-- Latest Blog Posts-->
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h2 class="wow fadeIn">Clientes</h2>
          <div class="row row-30 justify-content-center">
            <div class="col-sm-10 col-md-6 wow fadeIn">
              <!-- Post Light--><div class=" post-light context-dark"  style="background-image: url({%static 'site/images/contrutora1.jpg'%});">
                <div class="post-light-inner">
                  <div class="badge">Cliente</div>
                  <div class="post-light-main">
                    <time class="post-light-time" datetime="2019">July 5, 2019, at 12:07 pm</time>
                    <h4 class="post-light-title">Construtora 1</h4>
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-6 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Light--><div class="post-light context-dark" href="#" style="background-image: url({%static 'site/images/contrutora2.jpg' %});">
                <div class="post-light-inner">
                  <div class="badge">Cliente</div>
                  <div class="post-light-main">
                    <time class="post-light-time" datetime="2019">July 5, 2019, at 12:07 pm</time>
                    <h4 class="post-light-title">construtora2</h4>
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-6 wow fadeIn">
              <!-- Post Light--><div class="post-light context-dark" href="#" style="background-image: url({%static 'site/images/contrutora3.png' %});">
                <div class="post-light-inner">
                  <div class="badge">Cliente</div>
                  <div class="post-light-main">
                    <time class="post-light-time" datetime="2019">July 5, 2019, at 12:07 pm</time>
                    <h4 class="post-light-title">Construtora3</h4>
                  </div>
                </div></div>
            </div>
            <div class="col-sm-10 col-md-6 wow fadeIn" data-wow-delay=".2s">
              <!-- Post Light--><div class="post-light context-dark" href="#" style="background-image: url({%static 'site/images/contrutora4.jpg' %});">
                <div class="post-light-inner">
                  <div class="badge">Cliente</div>
                  <div class="post-light-main">
                    <time class="post-light-time" datetime="2019">July 5, 2019, at 12:07 pm</time>
                    <h4 class="post-light-title">Contrutora4</h4>
                  </div>
                </div></div>
            </div>
        </div>
      </section>
      <!-- Gallery-->
      <section class="section oh text-center">
        <div class="owl-carousel owl-carousel-dots-space wow fadeIn" data-items="2" data-sm-items="3" data-md-items="4" data-lg-items="5" data-xl-items="6" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group">
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/Newholland.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/Newholland.png'%}" alt="" width="320" height="320"/>
            </div></a>
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/basculante.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/basculante.png'%}" alt="" width="320" height="320"/>
            </div></a>
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/retroGrid.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/retroGrid.png'%}" alt="" width="320" height="320"/>
            </div></a>
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/Newholland.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/Newholland.png'%}" alt="" width="320" height="320"/>
            </div></a>
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/basculante.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/basculante.png'%}" alt="" width="320" height="320"/>
            </div></a>
          <!-- Thumbnail Thin--><a class="thumbnail-thin" href="{% static 'site/images/retroGrid.png'%}" data-lightgallery="item">
            <div class="thumbnail-thin-inner"><img class="thumbnail-thin-image" src="{% static 'site/images/retroGrid.png'%}" alt="" width="320" height="320"/>
            </div></a>
        </div>
      </section>
      <!-- Page Footer-->
      {% include 'site/footer.html' %}
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{%static 'site/js/core.min.js' %}"></script>
    <script src="{%static 'site/js/script.js' %}"></script>
    <script>
      $(window).on("load", function () {
        $('.preloader').fadeOut('slow');
      });
    </script>
    <!-- coded by Drel-->
  </body>
</html>