.adjustment{
    background-color: rgba(255,101,80,0.4);
    border: 1px solid #ff6550e6;
    width: 90%;
    height: 5vh;
}


.adjustmentSucess{
    background-color: rgba(0, 255, 119, 0.4);
    border: 1px solid #125102e6;
    width: 90%;
    height: 5vh;

}