.btn-blue {
  color: #fff;
  background-color: #190075;
  border-color: #190075;
}





body{
 
  background-image: url('../assets/fundo.png');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #00A240;

}