{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>OPTAR-Locação de Veiculos</title>
        <!-- Favicon-->
        <link rel="icon" type="image" href="{% static 'dist/img/icone.png' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'items/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'items/css/loginFile.css' %}" rel="stylesheet" />
        <script src="{% static 'items/js/jquery.mask.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
<body style="position:relative; z-index: 5;" >
    <div class="container">
      <div class="row  ">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5"><img src="{% static 'dist/img/logo.png' %} " width=100%></h5>
              <form method='POST'>
                <div class="form-floating mb-3">
                  <input name='cnpjValue' id="cnpjInput" type="text" class="form-control"  placeholder="name@example.com">
                  <label for="floatingInput">CNPJ da empresa</label>
                </div>
                
                <div class="form-floating mb-3">
                  <input name='password' type="password" class="form-control" id="floatingPassword" placeholder="Senha">
                  <label for="floatingPassword">Senha</label>
                </div>
  
               
                <div class="d-grid">
                  <button name='login' class="btn btn-blue btn-login text-uppercase fw-bold" type="submit">Entrar
                  </button>
                </div>
                <hr class="my-4">
                
                <div class="d-grid mb-2">
                  <button class="btn   fw-bold" type="submit">
                    <i><br></i>
                    <!--ESQUECEU A SENHA
                    <i name='forget_password' class="fab fa-google me-2"></i> Esqueceu sua senha?
                  </button>-->
                </div>
              
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="{% static 'items/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core theme JS-->
    <script src="{% static 'items/js/scripts.js' %}"></script>
    <script>

      {%for msg in messages%}
      swal({
        title: "{{msg}}",
        icon: "error",
        timer: 3000,
        button: "ok"})
      {%endfor%}
      jQuery(function($){
      $("#cnpjInput").mask('00.000.000/0000-00', {reverse: true});
    });
    </script>
    
  </body>
</html>