{% extends 'BaseItems/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block links %}
  <link href="{% static 'css/screenChange.css' %}" rel="stylesheet" />
{% endblock links %}
{%block preLoader%}
<!-- Preloader -->
<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{%static 'dist/img/icone.png' %}" alt="Optar Locações" height="200" width="200">
  </div>
{%endblock preLoader%}

{% block pesquisa %}{% endblock %}


{% block content %}
  <div class="container-fluid">
    <div class="m-4 row">
      <div class="mb-1 col-lg-12">
        <div style="width: 100%; height: 100%;" class="card">
          <div class="card-body ">
            <h5 class="bg-teal card-header card-header-color text-center mb-4">
                {{company.company_name}}, {{company.cnpj}}
            </h5>
            <form method='POST'>
              {% csrf_token %}
              <div class=" row">
                {% for field in form.visible_fields  %}
                  <div class="col-lg-4">
                    {{ field|as_crispy_field }}
                    <datalist id="datalistOptions">
                      {% for i in types %}
                        <option value = {{i}}>{{i }}
                        </option>
                      {% endfor %}
                    </datalist>
                  </div>
                {% endfor %}
              </div>
              <div class="card-footer text-center">
                
                <button type="submit" id="AtualizarPost" name="AtualizarPost" class="btn btn-primary">Atualizar <i class="fa-regular fa-pen-to-square"></i></button>
                
            </form>
          </div>
        </div>
      </div>

      

      </div>
    </div>
  </div>
</div>



</div>


</div>
{% endblock content %}
{% block  scriptAdd %}
  <script src="{% static '/js/scripts.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/js/jquery.mask.min.js' %}"></script>
  <script src="{% static '/js/scripts.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script>
      {% for msg in messages%}
      {% if msg.tags == "message-sucess" %}
      swal({
       title: "{{msg}}",
       icon: "success",
       timer: 3000,
       button: "ok"}).then((value) => {
        window.location="{%url 'company:profile'  %}";
      });
      

      {% endif %}

      {% endfor %}
      

      $(document).on('click', '.areSure', function(e){
        var form = document.getElementById("form-this")
        return confirm("Tem certeza que alterar os dados da empresa? ?")
      });
  </script>
  <script>
    
    document.getElementById('meuCarrossel').on('slid.bs.carousel', function () {
      var currentSlide = $('#meuCarrossel div.active').index();
      sessionStorage.setItem('lastSlide', currentSlide);   
      });

      if(sessionStorage.lastSlide){
        $("#meuCarrossel").carousel(sessionStorage.lastSlide*1);
      }
    
  </script>
{% endblock scriptAdd %}
