{% extends 'BaseItems/base.html' %}
{%load static%}
{%block addLink%}
{%endblock addLink%}

{%block preLoader%}
<!-- Preloader -->
{%if scroll != 10%}
<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{%static 'dist/img/icone.png' %}" alt="Optar Locações" height="200" width="200">
  </div>
{%endif%}
{%endblock preLoader%}

{%block title%}
<h1 class="m-0">Estatísticas</h1>
{%endblock title%}

{%block content%}
<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{qnt_vehicle}}</h3>

        <p>Veiculos</p>
      </div>
      <div class="icon">
        <i style="width: 25%;"class="fa-solid fa-truck"></i>
      </div>
      <a href="#" class="small-box-footer">      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{qnt_locations}}<sup style="font-size: 20px"></sup></h3>

        <p>Locações</p>
      </div>
      <div class="icon">
        <i style="width: 25%;"  class="fa-solid fa-file-contract"></i>
      </div>
      <a href="#" class="small-box-footer">      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>{{qnt_company}}</h3>

        <p>Empresas</p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-building"></i>      
      </div>
      <a href="#" class="small-box-footer"> </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>R$ {{caixa}}</h3>

        <p>Caixa</p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-sack-dollar"></i>      
      </div>
      <a href="#" class="small-box-footer">      </a>
    </div>
  </div>
  <!-- ./col -->
</div>

<div class="row">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Lucros</h3>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <p class="d-flex flex-column">
            <span class="text-bold text-lg">${{lucroMes}}</span>
            <span>Lucro deste mês</span>
          </p>
          <p class="ml-auto d-flex flex-column text-right">
            {% if aumento > 0%}
            <span class="text-success">
              <i class="fas fa-arrow-up"></i> {{aumento}}%
            {%else%}
            <span class="text-danger">
            <i class="fas fa-arrow-down"></i> {{aumento}}%
            {%endif%}
            </span>
            <span class="text-muted">Aumento desde ultimo mês</span>
          </p>
        </div>

        <div class="position-relative mb-4">
          <canvas id="barChart" height="100"></canvas>
        </div>

        <div class="d-flex flex-row justify-content-end">
          <span class="mr-2">
            <i class="fas fa-square text-primary"></i> Esse Mês
          </span>
        </div>
      </div>
    </div>

    
</div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-header border-0">
      <div class="d-flex justify-content-between">
        <h3 class="card-title">Entradas/Saídas</h3>
      </div>
      <div  style="text-align: center; width: 68%" class=" card-body">
          <canvas id="pie-chart" width="50"></canvas>
      </div>
    </div>
  </div>
</div>
{%if resultados is not None%}
<div style="width:100%;" class="mr-2 shadow-sm  card  h6 text-success align-items-center">
  <p class="mt-3">Resultados para: {{ resultados }}</p>
</div>
{%endif%}
{%if tabela is None%}
<div style="width:98%;" class="shadow-sm  card  h6 text-danger align-items-center">
    <p class="mt-3">Busca Inválida</p>
  </div>
{%endif%}

    <div class="col-lg-12">
      <div  style="height: 70Vh;" class="card">
        <div class="card-header bg-lightblue">
        <div class="mb-3 row">
        <div class="col-lg-5 col col-md-5 col-sm-4 col-12"
        <h3 class="card-title">Relatórios</h3>
        </div>
        <div class="col-10 col-lg-7 col-md-7 col-sm-4 col-12">
          <div class="card-tools">
            <form method="POST">
                {% csrf_token %}
                <div class="align-items-center row">
                <div class="col-md-4 col-sm-5 col-4">
                <input class="form-control"
                    type="number"
                    name="month"
                    min="1" max="12"
                    placeholder="mês"
                    aria-label="Search">
                </div>
                <div class="col-md-5 col-sm-5 col-4">
                  <select class="form-control" name="year">
                     <option value="1" selected disabled hidden>Ano</option>
                      {%for j in anos%}
                      <option value="{{j}}">{{j}}</option>
                      {%endfor%}
                    </select>
                </div>
                <div class="col-md-3 col-sm-2 col-2">
                  <button name="searchReport" data-toggle="tooltip"
                  data-placement="top"
                  title="Pesquisar" class="btn btn-outline-dark" type="submit">
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          
        </div>
        </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
          <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Mês</th>
                    <th scope="col">Ano</th>
                    <th scope="col"></th>
                  </tr>            
            </thead>
            <tbody>
                {%for i in tabela %} 
                <tr class="trEffect">
                    <td>Relatório {{i.id}}</td>
                    <td>{{i.month}}</td>
                    <td>{{i.year}}</td>
                    <td><a style="width: 8rem; height:2.5rem;"    href="{%url 'report:pdf' i.id %}" name="download" value = "{{i.id}}"  class=" btn btn-primary"> Download <i class="fa-solid fa-download"></i></a></td>
                </tr>
                {%endfor%}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->

{%endblock content%}

{%block scriptAdd%}
<script>
    {% if scroll == 10%}
    $(document).ready(function(){
        $('html, body').animate({
            scrollTop: 2000
        }, 1600);
    });
    {%endif%}

  const ctx = document.getElementById('pie-chart');
  
  const data = {
    labels: [
      'Entradas',
      'Saídas'
    ],
    datasets: [{
      label: 'Entradas e Saídas',
      data: {{grafico}},
      backgroundColor: [
        'rgb(0, 50, 255)',
        'rgb(255, 205, 86)'
      ],
      hoverOffset: 4
    }]
  };

  const config = {
    type: 'pie',
    data: data,
  };

  mychart= new Chart(ctx, config)

  new Chart(document.getElementById("barChart"), {
    type: 'bar',
    data: {
      labels: ["Jan", "Fev", "Mar", "Abr", "Mai","Jun", "Jul" , "Ago" , "Set", "Out", "Nov" , "Dez"],
      datasets: [
        {
          label: "Lucro em R$",
          backgroundColor: ["#3e95cd",  ],
          data: {{lucroLista}}
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});
</script>
{%endblock scriptAdd%}