{% extends 'BaseItems/baseEdit.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block opcoes %}
    {%include 'includeItems/VehicleOption.html'%}
{% endblock opcoes %}

   
{%block title%}
<h5 class="card-header card-header-color text-center mb-4">Editar dados de : {{client.name}}, {{client.cnpj}}</h5>
{%endblock title%}

       

{%block formulario%}

<div class="row">          
    {% for field in form.visible_fields  %}
    
    {% if field.label == "Nº" or field.label == "Estado" or field.label == "CEP" %}    
    <div class="col-lg-2">
    {%elif field.label == "Nome da Empresa"%}
    <div class="col-md-6">
    {%else%}
    <div class="col-md-4">
    {%endif%}
      {{field|as_crispy_field}}
    
    </div>      
    {% endfor %}
</div>


{%endblock formulario%}
            


{%block funcoes %}
    <script>

    
    {%if flag is False%}
    document.getElementById('startLocationID').readOnly = true;    //to enable readonly
    {%else%}        
    document.getElementById('startLocationID').readOnly = false;    //to enable readonly
    {%endif%}
    

    {% for msg in messages %}
      {% if msg.tags == "message-sucess" %}
      var icon= "success";
      {% elif msg.tags == "message-error" %}
      var icon="error";
      {%endif%}

      swal({
       title: "{{msg}}",
       icon: icon,
       timer: 3000,
       button: "ok"}).then((value) => {
        {% if name == "Gasto"%}
        window.location="{%url 'vehicle:spents' slug %}";
        {% else %}
        window.location="{%url path slug id %}";
        {% endif %}

      });
      {%endfor%}

      document.getElementById('botaoVoltar').onclick= function(){
        window.location="{%url 'clientCompany:empresas' %}";
      };

    </script>
{% endblock funcoes%}
      
    
